<ul class="social-links">

    <!-- Twitter -->
    {% if site.twitter_username %}
    <li><a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
    {% endif %}

    <!-- Facebook -->
    {% if site.facebook_username %}
    <li><a href="https://www.facebook.com/{{ site.facebook_username }}" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
    {% endif %}

    <!-- Instagram -->
    {% if site.instagram_username %}
    <li><a href="https://www.instagram.com/{{ site.instagram_username }}" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
    {% endif %}

    <!-- LinkedIn -->
    {% if site.linkedin_username %}
    <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
    {% endif %}

    <!-- YouTube -->
    {% if site.youtube_username %}
    <li><a href="https://www.youtube.com/{{ site.youtube_username }}" aria-label="YouTube"><i class="fab fa-youtube"></i></a></li>
    {% endif %}

    <!-- Pinterest -->
    {% if site.pinterest_username %}
    <li><a href="https://pinterest.com/{{ site.pinterest_username }}" aria-label="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
    {% endif %}

    <!-- Snapchat -->
    {% if site.snapchat_username %}
    <li><a href="https://snapchat.com/add/{{ site.snapchat_username }}" aria-label="Snapchat"><i class="fab fa-snapchat-ghost"></i></a></li>
    {% endif %}

    <!-- TikTok -->
    {% if site.tiktok_username %}
    <li><a href="https://www.tiktok.com/@{{ site.tiktok_username }}" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
    {% endif %}

    <!-- Reddit -->
    {% if site.reddit_username %}
    <li><a href="https://www.reddit.com/user/{{ site.reddit_username }}" aria-label="Reddit"><i class="fab fa-reddit-alien"></i></a></li>
    {% endif %}

    <!-- Discord -->
    {% if site.discord_link %}
    <li><a href="{{ site.discord_link }}" aria-label="Discord"><i class="fab fa-discord"></i></a></li>
    {% endif %}

    <!-- Vimeo -->
    {% if site.vimeo_username %}
    <li><a href="https://vimeo.com/{{ site.vimeo_username }}" aria-label="Vimeo"><i class="fab fa-vimeo-v"></i></a></li>
    {% endif %}

    <!-- Flickr -->
    {% if site.flickr_username %}
    <li><a href="https://www.flickr.com/photos/{{ site.flickr_username }}" aria-label="Flickr"><i class="fab fa-flickr"></i></a></li>
    {% endif %}

    <!-- Tumblr -->
    {% if site.tumblr_username %}
    <li><a href="https://{{ site.tumblr_username }}.tumblr.com" aria-label="Tumblr"><i class="fab fa-tumblr"></i></a></li>
    {% endif %}

    <!-- Spotify -->
    {% if site.spotify_username %}
    <li><a href="https://open.spotify.com/user/{{ site.spotify_username }}" aria-label="Spotify"><i class="fab fa-spotify"></i></a></li>
    {% endif %}

    <!-- SoundCloud -->
    {% if site.soundcloud_username %}
    <li><a href="https://soundcloud.com/{{ site.soundcloud_username }}" aria-label="SoundCloud"><i class="fab fa-soundcloud"></i></a></li>
    {% endif %}

    <!-- Additional social media links as needed -->
</ul>
