.features {
  text-align: center;

  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .feature-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex-basis: calc(33% - 20px);
    text-align: left;

    .card-content {
      padding: 20px;
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .features .feature-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .features .feature-card {
    flex-basis: 100%;
  }
}

.feature-card-link {
  text-decoration: none; // Removes underline from links
  color: inherit; // Inherits text color to keep consistent styling

  &:hover .feature-card {
    // Add hover effects as needed

    // Change background color on hover
    background-color: darken(#ddd, 10%); // Darkens the background color

    // Add a border on hover
    // border: 1px solid darken(#ddd, 10%);

    // Scale effect
    // transform: scale(1.05);
    // transition: transform 0.3s ease;

    // Shadow effect
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Increased shadow for depth

    // Opacity change
    // opacity: 0.9;

    // Text color change
    .card-content h3 {
      color: #007bff; // Example color change for text
    }
  }
}
