// _sass/_services.scss

@import "variables";

.services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr); // 2 columns for smaller screens
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr; // 1 column for very small screens
  }
}

.service {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.service i.fa {
  font-size: 24px;
  margin-bottom: 10px;
}

.service h3 {
  margin: 10px 0;
}

.service p {
  color: #666;
}

.service a {
  display: inline-block;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
